<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-default'>
  		<% if @current_user.present? %>
  			<%= @current_user.first_name %> <%= @current_user.last_name %> is logged in.
  			<%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure you want to logout?' } %>
  		<% end %>
  	</nav>
  	<p id="notice"><%= notice %></p>

    <%= yield %>
  </body>
</html>
